.app__wishItems-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    color: var(--background-color);
    /* max-width: 250px;
    overflow-x: scroll; */
}

.app__wishItems-nav p{
    margin: 1.5rem 2rem;
    color: var(--background-color);
}

@media screen and (max-width: 1150px) {
    .app__wishItems-nav {
        flex-wrap: wrap;
    }
}
